html{
    background-color: black;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6{
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

p{
    color: Gray;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.footer{
    text-align: right;
    color: gray;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    margin-top: 30px;
}